
.ToDoList {
    color: whitesmoke;
    width: 600px;
    height: fit-content;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.ToDoList h2 {
    align-self: flex-start;
    font-weight: 600;
}

.TaskAdding {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 0 20px;
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;
}

.TaskAdding button {
    color: whitesmoke;
    font-weight: bold;
    font-size: 15px;
    background: none;
    width: 500px;
    height: 50px;
    border: 1px dashed white;
    border-radius: 20px;
}

.TaskAdding button:hover {
    background-color: rgba(105, 50, 50, 0.54);
    cursor: pointer;
}

.ToDoItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 550px;
    height: 60px;
    background-color: whitesmoke;
    color: #343232;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    margin: 5px;
}

.ToDoItem:hover {
    cursor: pointer;
}

.ToDoItem h3 {
    font-size: 18px;
    margin-left: 20px;
    width: 300px;
}

hr {
    width: 600px;
    align-self: center;
    height: 3px;
    background-color: whitesmoke;
}

.buttons button {
    margin: 5px;
    height: 30px;
    width: 50px;
    background: none;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.buttons button:hover {
    cursor: pointer;
    background-color: #e0e0e0;
}
